.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  color: #ffffff;
  border-radius: 7px;
  padding: 1em 0px;
  font-weight: 700;
  border: none
}
.cta-btn{
  font-size: 1.5em;/* 22.5px/15px*/
  padding-left: 1em;
  padding-right: 1em;
}
.extra-boxes{
  background-color: #333333;
  width: 30vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}