.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(225, 24%, 28%, 0.4);
    filter: blur(10px);
}
#popup-card{
    position: relative;
    background: hsla(224, 21%, 10%, 1);
    color: hsla(216, 20%, 64%, 1);
    width: 80%;
    border-radius: 7px;
    padding: 1em;
}
h2{
    color: hsla(223, 14%, 90%, 1);
    font-size: 1.6em; /* 24px/15px*/
    padding: 0 .625em; /* 15px/24px*/
    font-weight: 900;
}
p{
    padding: 0 1em;
    font-weight: 500;
}
.member-tag{
    color: hsla(244, 100%, 71%, 1);
    font-weight: 700;
}
.btn-container{
    display: flex;
}
.btn-container button{
    font-size: 0.9333333333333333em;/* 14px/15px*/
}
.btn-container button:first-child{
    flex-grow: 3;
    margin-right: 0.2em;
}
.btn-container button:last-child{
    flex-grow: 1;
    margin-left: 0.2em;
}
.primary{
    background-color: hsla(244, 100%, 71%, 1);
}
.secondary{
    background-color: hsla(222, 22%, 15%, 1);

}

/* Media Queries*/

@media screen and (min-width: 576px){

}
@media screen and (min-width: 768px){
    #popup-card{
        width: 55%;
    } 
}
@media screen and (min-width: 992px){
    #popup-card{
        width: 40%;
    } 
}
@media screen and (min-width: 1200px){
    #popup-card{
        width: 30%;
    } 
}